{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
	<div class="bg-white">
		<div {{ react_component('Nav') }}></div>
		<div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
			<div class="text-center">
				<p class="mt-4 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Bienvenue sur RecipeShare</p>
				<p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">L'application qui vous permet de partager facilement vos recettes</p>
			</div>
		</div>
	</div>
{% endblock %}
